@import "./variables.scss";

@mixin desktop {
  @media screen and (min-width: 901px) {
    @content;
  }
}

@mixin font-style {
  font-family: var(--main-font);
  color: var(--black-color);
  font-weight: var(--font-weight);
}