:root {
    //colors
    --white-color: #ffffff;
    --black-color: #000000;
    --red-color: #f20b0b;
    --background-color: #FAFAFA;
    --overlay-backgroundcolor: #FFFFFFE0;
    --transparent-color: transparent;
    --card-backgroundcolor: #F9F4EA;
    --line-backgroundcolor: #979797;
    --soft-whitecolor: #FFFFFFCC;

    //fonts
    --main-font: 'Helvetica Neue';
    --font-weight: 200;
    --margin-zero: 0;

    //border
    --border-style: 0.5px solid #000000;
}