@import '../../styles.scss';
$Chef-Image: url('../../assets/images/yossi-shitrit.svg');

.chef-container {
    margin: 0 20px 48px;

    @include desktop {
        padding: 0 10%;
    }

    .title {
        @include font-style;
        font-size: 18px;
        line-height: 35px;
        letter-spacing: 1.25px;
        text-align: left;
        transition: transform 0.5s ease;


        @include desktop {
            font-size: 30px;
            text-align: center;
        }
    }

    .image-description-container {
        display: flex;
        flex-direction: column;
        transition: transform 0.5s ease;


        @include desktop {
            flex-direction: row;
            gap: 63.5px;
        }

        .image-container {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            justify-content: end;
            width: 100%;
            height: 262px;
            background-image: $Chef-Image;
            background-size: cover;
            overflow: hidden;

            @include desktop {
                flex-direction: row;
                min-width: 478px;
                min-height: 372px;
            }

            .chef-name {
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                align-items: center;
                width: 100%;
                margin: 0;
                @include font-style;
                background: var(--soft-whitecolor);
                font-weight: 400;
                font-size: 18px;
                line-height: 47px;
                letter-spacing: 2.67px;

                @include desktop {
                    font-size: 40px;
                    text-align: center;
                    padding-top: 15.5px;
                    padding-bottom: 15.5px;

                }
            }
        }

        .chef-description {
            @include font-style;
            font-size: 18px;
            line-height: 28px;
            letter-spacing: 1.25px;
            text-align: justify;
            transition: transform 0.5s ease;


            @include desktop {
                font-size: 24px;
                line-height: 35px;
                text-align: justified;

            }
        }
    }

    .chef-restaurants-container {
        .restaurants-list-title {
            @include font-style;
            font-size: 16px;
            line-height: 25px;
            text-align: left;

            @include desktop {
                font-size: 30px;
                line-height: 35px;
                letter-spacing: 1.25px;
            }

        }

        .swiper {
            .swiper-slide {
                .restaurant-card {
                    width: 210px;
                    height: 233px;

                    @include desktop {
                        width: 231px;
                        height: 357px;

                        .card-title {
                            font-size: 30px;

                        }
                    }
                }

                @include desktop {
                    max-width: fit-content;
                }
            }
        }

        .chefs-restaurants {
            @include desktop {}
        }
    }

    .all-restaurants {
        display: flex;
        align-items: center;
        flex-direction: row;
        gap: 12px;
        margin-top: 18px;
        transition: transform 0.5s ease;


        @include desktop {
            display: none;
        }

        .all-restaurants-title {
            @include font-style;
            cursor: pointer;
            font-size: 16px;
            font-weight: 400;
            line-height: 35px;
            letter-spacing: 2px;
            text-align: right;
        }

        .all-resaurants-icon {
            cursor: pointer;
            width: 24px;
            height: 18px;
        }
    }



}