@import "../../styles.scss";

.swiper-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 19px;
    width: 100%;

    .swipper-title {
        align-items: center;
        width: 100%;
        @include font-style;
        font-size: 18px;
        line-height: 35px;
        letter-spacing: 1.25px;
        text-align: left;
    }

    .swiper {
        .swiper-slide {
            max-width: fit-content;
        }

        @include desktop {

            .swiper-button-prev,
            .swiper-button-next {
                display: none;
            }

            .swiper-pagination {
                display: none;
            }
        }
    }

    .all-restaurants {
        display: flex;
        align-items: center;
        flex-direction: row;
        gap: 12px;
        margin-top: 18.2px;

        @include desktop {
            width: 100%;
            max-width: 1185px;
            margin-top: 0;
            justify-content: flex-end;
        }

        .all-restaurants-title {
            @include font-style;
            cursor: pointer;
            font-size: 16px;
            font-weight: 400;
            line-height: 35px;
            letter-spacing: 2px;
            text-align: right;

            @include desktop {
                font-size: 24px;
            }
        }

        .all-resaurants-icon {
            cursor: pointer;
            width: 24px;
            height: 18px;
        }
    }
}