@import "../../styles/mixins";

.about-us-container {
  display: flex;
  flex-direction: column;
  background: #FAFAFA;
  gap: 32px;
  // @include desktop {
  //   flex-direction: row-reverse;
  //   justify-content: flex-end;
  // }

  .logo-icons-container{
    display: flex;
    flex-direction: column;
    margin-top: 19px;

    .logo-container{
      margin-left: 19px;
      margin-bottom: 19px;
      img{
        width: 102px;
        height: 95px;
      }
    }

    .icons-container{
      display: flex;
      flex-direction: column;
      
      img{
        height: 52px;
        width: 180px;
        padding: 7px 12px 7px 12px;
        gap: 7px;
        border-radius: 10;
        border: 0.5;
      }
    }
  }

  .descriptions-container{
    display: flex;
    flex-direction: column;
    margin-left: 19px;
    margin-bottom: 19px;

    .about-us-title{
      font-family: Helvetica Neue;
      font-size: 18px;
      font-weight: 200;
      line-height: 35px;
      letter-spacing: 1.25px;
      margin-left: 1px;
    }

    div{
      display: flex;
      align-items: flex-start;
      text-align: left;
      font-family: Helvetica Neue;
      font-size: 18px;
      font-weight: 200;
      line-height: 28px;
      letter-spacing: 2.140000104904175px;

    }
  }
}