@import '../../styles/mixins.scss';

.icons-meaning-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: var(--background-color);

    .icons-title {
        @include font-style;
        font-size: 18px;
        line-height: 35px;
        letter-spacing: 1.25px;
        text-align: left;
    }

    .icons-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 32px;

        @include desktop {
            flex-direction: row;
            gap: 40px;
        }

        .icon-item {
            @include desktop {
                display: flex;
                flex-direction: column;
                align-items: center;
            }

            img {
                @include desktop {
                    width: 77.42px;
                    height: 60px;
                }
            }

            h3 {
                @include font-style;
                font-size: 18px;
                line-height: 30px;
                letter-spacing: 1.97px;
                text-align: center;

                @include desktop {
                    padding: 0;
                    font-size: 24px;
                }
            }
        }
    }
}