@import '../../styles/mixins.scss';

.header {
    margin: 11px;

    .header-container {
        @include font-style;
        display: flex;
        align-items: center;
        justify-content: space-between;

        @include desktop {}

        .left-container{
            display: flex;
            align-items: center;
            justify-content: space-between;
            @include desktop{
                gap: 32px;
            }

            .hamburger-container {
                cursor: pointer;
                @include desktop {
                    display: none;
                }
            }
    
            .logo-container {
                display: flex;
                align-items: center;
                justify-content: center;
                @include desktop{
                    margin-left: 127px;
                }
    
                .epicure-logo {
                    position: absolute;
                    transform: translateX(-50%);
                    left: 50%;
                    width: 40px;
                    @include desktop {
                        left: unset;
                        position:unset;
                        align-items: center;

                    }
                }
    
                .epicure-title {
                    display: none;
                    @include desktop {
                        display: flex;
                        align-items: center;
                    }
                }
            }
            .navbar-titles {
                display: none;
    
                @include desktop {
                    @include font-style;
                    display: flex;
                    font-size: 18px;
                    gap: 32px;
                }
            }
        }


        .navbar-icons {
            display: flex;
            align-items: center;
            gap: 20px;
            
            @include desktop {
                gap: 24px;
                margin-right: 127px;
            }

            img {
                height: 20px;
                width: 20px;
                cursor: pointer;

                @include desktop {
                    height: 24px;
                    width: 24px;

                }
            }
        }
    }
}