@import '../../styles/mixins.scss';

.card {
    width: 245px;
    background: var(--card-backgroundcolor);

    @include desktop {
        width: 379px;
    }


    .card-img {
        width: 100%;
        height: 152px;

        @include desktop {
            height: 236px;
        }
    }

    .card-body {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        padding-left: 16px;
        padding-bottom: 16px;
        min-height: 81px;

        @include desktop {
            padding: unset;
            padding-bottom: 16px;
            align-items: center;
            justify-content: center;

        }

        .card-title-description {
            display: flex;
            align-items: flex-start;
            flex-direction: column;

            @include desktop {
                display: flex;
                align-items: center;
                flex-direction: column;
                justify-content: center;
            }

            .card-title {
                margin: unset;
                font-family: var(--main-font);
                font-weight: 400;
                letter-spacing: 2.67px;
                line-height: 21px;
                font-size: 18px;
                padding-top: 16px;
                padding-bottom: 8px;
                text-align: left;

                @include desktop {
                    padding-top: 18px;
                    font-size: 40px;
                    line-height: 47px;
                    text-align: center;
                }
            }

            .card-subtitle {
                margin: unset;
                @include font-style;
                font-size: 16px;
                letter-spacing: 1.97px;
                line-height: 20px;
                text-align: left;

                @include desktop {
                    line-height: 30px;
                    font-size: 24px;
                    text-align: center;
                }
            }
        }

        .description-meaning-container {
            display: flex;
            flex-direction: column;

            @include desktop {
                justify-content: center;
                align-items: center;
                flex-direction: column-reverse;
            }

            .card-description {
                @include font-style;
                font-size: 16px;
                line-height: 20px;
                letter-spacing: 1.97px;
                text-align: left;

                @include desktop {
                    margin-top: unset;
                    font-size: 23.8px;
                    line-height: 30px;
                    padding-left: 42.5px;
                    padding-right: 42.5px;
                    text-align: center;
                }
            }

            .card-iconmeaning {
                display: flex;

                .icon-meaning {
                    width: 30px;
                    height: 24px;
                    padding-bottom: 16px;

                    @include desktop {
                        padding-bottom: 8px;
                        width: 40px;
                        height: 31px;

                    }
                }
            }
        }


        .card-rating {
            display: none;

            @include desktop {
                display: flex;

                .icon-rating {
                    padding-top: 8px;
                }
            }
        }

        .card-price {
            @include desktop {
                display: flex;
                justify-content: center;
                flex-direction: row;
                align-items: center;

                .price-line {
                    width: 112px;
                    height: 0.5px;
                    background: var(--line-backgroundcolor);
                    align-self: center;
                    margin: 6px;
                }
            }

            .ils-image {
                width: 7.26px;
                height: 6.67px;
                border: none;

                @include desktop {
                    width: 12.54px;
                    height: 11.52px;
                }
            }

            .price-value {
                font-family: var(--main-font);
                font-weight: 400;
                letter-spacing: 1.97px;
                font-size: 16px;
                margin-left: 4px;
                line-height: 19px;
                text-align: center;

                @include desktop {
                    font-size: 24px;
                    font-weight: 200;
                    line-height: 30px;
                }
            }

        }
    }
}